<template name="header">

	<div class="row-fluid ">
		<div class="jumbotron header">
			<div class="container">
				<div class="col-md-8 col-sm-12">
				<h2 class="pull-left"><strong><i class="li_data"></i>CODEMY</strong><small> { everything on web-development } </small></h2>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="pull-right">
						<button class="btn btn-md btn-secondary">Coffee</button>
						<button class="btn btn-md btn-secondary">Code</button>
						<button class="btn btn-md btn-secondary">Continue</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>