<template name="signinModal">


<!-- Modal -->
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
	<div class="modal-dialog account">
		<form>
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><i class="li_user"></i> SIGN-IN</h4>
			</div>

			<div class="modal-body">
			<div class="row">

			<div class="col-md-5" id="socialBlock">
				<div class="container-fluid">
				<a class="btn btn-social btn-facebook" id="facebook-login">
					<i class="fa fa-facebook"></i>
					Sign in with Facebook
				</a>
				</div>
			</div>

			<div class="col-md-7">
				<div class="row">
				<span class="input input--jiro">
					<input class="input__field input__field--jiro" type="text" name="signinUser" id="input-1" />
					 <label class="input__label input__label--jiro" for="input-1">
						<span class="input__label-content input__label-content--jiro">Username or E-mail</span>
					</label>
			 	</span>


				<span class="input input--haruki">
					<input class="input__field input__field--jiro" type="password" name="signinPassword" id="input-1" />
					<label class="input__label input__label--jiro" for="input-1">
						<span class="input__label-content input__label-content--jiro">Password</span>
					</label>
			 	</span>
			 	</div>
			
				<div class="row">
				<a href="" class="" data-toggle="modal" data-target="#signupModal">Sign Up Now</a>
				</div>
			</div> 
			
			</div> <!--ROW END-->
			</div> <!--MODAL BODY END-->
			
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-success">Sign-In</button>
			</div>
		</div>
		</form>
	</div>
	
</div>

</template>