<template name="navbar2">

	 <nav class="navbar-default noselect" role="navigation">
			<div class="row">
			<div class="navbar-header pull-left col-xs-4"  style="margin-bottom:0px;">
				<div class="btn-group">
					<ul>
					{{#if currentUser}}
						<li ><a type="button" href="#" class="navbar-button toggle-nav" id="open-button"><i class="fa fa-bars"></i></a></li>
					{{/if}}
						<li><a type="button" href="#" class="navbar-button js-overlay-open" id="hide"><span class="glyphicon glyphicon-search"></span> Search..</a></li>  
					</ul>
				</div>
			</div>
			

			<div class="navbar-header col-xs-4 center">
				<a href={{pathFor 'newPosts'}}><strong><i class="li_data"></i>CODEMY</strong></a>
			</div>


			<div class="navbar-header pull-right col-xs-4" style="text-align:right;margin-bottom:0px;">
				<div class="btn-group">
				<!-- {{#if activeRouteClass 'postSubmit'}}
					<li><a type="submit" href="#" class="navbar-button submitBtn" id="hide">Submit</a></li>
				{{/if}} -->

				{{#if currentUser}}
					<li><a type="button" href="#" class="navbar-button signout" id="hide">Sign-out</a></li>
				{{else}}
					<li><a type="button" href="#" id="hide" class="navbar-button" data-toggle="modal" data-target="#signinModal"><!-- <i class="fa fa-user"></i> --><i class="li_user"></i></a></li>
				{{/if}}
				</div>
			</div>
			</div>
	</nav>

</template>