<template name="signinModal">

<!-- Modal -->
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

	<div class="modal-dialog">
		<form>
			<div class="modal-content">
				<div class="modal-header">
					<h3>CODEMY</h3>
					<p>로그인하세요</p>
				</div><!--End modal-header-->
				
				<div class="modal-body">
					<span class="input input--isao">
						<input class="input__field input__field--isao" name="signinUser" type="text" id="input-38" />
						<label class="input__label input__label--isao" for="input-38" data-content="아이디/이메일">
							<span class="input__label-content input__label-content--isao">아이디/이메일</span>
						</label>
					</span>

					<span class="input input--isao">
						<input class="input__field input__field--isao" name="signinUser" type="password" id="input-38" />
						<label class="input__label input__label--isao" for="input-38" data-content="비밀번호">
							<span class="input__label-content input__label-content--isao">비밀번호</span>
						</label>
					</span>

				</div><!--End modal-body-->
				
				<div class="modal-footer">
				</div><!--End modal-footer-->
			</div><!--End modal-content-->
		</form>
	</div><!--End modal-dialog-->

</div><!--End modal fade-->

</template>


